[user]
	email = {EMAIL}
	name = {NAME}
    signingkey = {GPG_KEY}
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[core]
	editor = code --wait
	excludesfile = /home/{USERNAME}/.gitignore_global
[pull]
	ff = only
